@import url('https://fonts.googleapis.com/css2?family=Foldit&family=Konkhmer+Sleokchher&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-family: "Poppins", "Trebuchet MS", Helvetica, sans-serif;
    background-color: rgb(243, 243, 226);
    font-weight: 400;
}

html {
    overflow-y: scroll;
  }

a.name {
    text-align: center;
    font-size: 1.7rem;
    text-anchor: middle;
    text-decoration: none;
    margin-top: 15px;
    color: black;
}

a:visited {
    color: black;
}

.section-text {
    font-weight: 400;
    font-size: 1.1rem;
    position: absolute;
    text-decoration: none;
    color: black;
}

.text-container-title {
    font-weight: 400;
    text-align: center;
    font-size: 2.0vw;
    text-anchor: middle;
    text-decoration: none;
    /* margin-top: 15px; */
    color: black;
}

section.top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

section.wide-sections {
    visibility: visible;
}

.hamburger-menu {
    visibility: hidden;
    position: absolute;
    right: 20px;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    /* -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; */
    background-color: #101010;
}

.overlay {
    /* height: 100%; */
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 20px;
    text-decoration: none;
    font-size: 2rem;
    color: #818181 !important;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: -10px;
    right: 3px;
    font-size: 60px;
}


.intro {
    margin-top: 5%;
    padding-left: 100px;
    padding-right: 100px;
    /* animation: fadeIn 2s; */
}

.hp-subsections {
    margin-top: 90px;
    padding-left: 100px;
    padding-right: 100px;
    /* animation: fadeIn 2s; */
}

.hp-subsections#projects {
    /* animation-delay: 2s; */
}

.hp-subsections#aboutme {
    /* animation-delay: 4s; */
}

.container {
    align-items: center;
    justify-content: center;
    display: flex;

}

.img-container{
    /* justify-content: center; */
    width: 60%;
    position: relative;
}

.right-text-container{
    /* justify-content: center; */
    width: 45%;
    margin-right: 8%;
}

.left-text-container{
    /* justify-content: center; */
    width: 45%;
    margin-left: 8%;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

h1.title-text {
    text-align: center;
    font-size: 1.6vw;
    text-anchor: middle;
    font-weight: 400;
    white-space: pre-line;
    line-height: 1.5em;
}

span.grey {
    color: #a9a9a9;
}

span.day {
    color: rgb(255, 157, 0);
}

span.night {
    color: rgb(0, 124, 124);
}

img#intro-image {
    max-width:70%;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


hr {
    width: 80%;
    color: black;
    margin-top: 90px;
    border-width: 1px;
}

hr.bottom {
    border-width: 0px;
}

.logo-container {
    /* margin-left: 45%; */
    text-align: center;
    display: flex;
    justify-content: center;
}

.logo-container img{
    max-height: 30px;
    width: auto;
    margin: 0 5px;
}

.email-form {
    border-color: transparent;
}

div.form {
    width: 35%;
    /* box-sizing: border-box; */
    /* padding-left: 10px;
    padding-right: 10px; */
}

div.form#message {
    width: 80%;
    /* box-sizing: border-box; */
    padding: 10 10px; /* Adjust the padding as needed */
}

div.form-element-div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    font-size: 1.4vw;
    justify-content: center;
}

#full-name {
    margin-left: -5px;
    /* align-self: flex-end; */
}

#email-address {
    margin-left: 5px;
}

#full-name, #email-address {
    width: 80%;
    height: 20px;
    max-width: 300px;
    /* padding-left: 10px;
    padding-right: 10px; */
}

textarea#message {
    width: 80%;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    color: black;
    resize: none;
    /* max-width: 80%; */
    font-family: "Poppins", "Trebuchet MS", Helvetica, sans-serif;
}

input {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    color: black;
}


input[type=submit] {
    background-color: white;
    border: none;
    padding: 4px 12px;
    font-family: "Poppins", "Trebuchet MS", Helvetica, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    color: black;
    max-width: 100px;
  }

a {
    color: black;
}

h1.subsections-title {
    text-align: center;
    font-weight: 500;
    font-size: 1.8vw;
}

@media screen and (max-width: 600px) {
    .intro {
        padding-left: 7%;
        padding-right: 7%;
    }
    hr {
        width: 90%;
    }
}


@media screen and (max-width: 850px) {
    a {
        color: black;
    }
    a.name {
        font-size: 7.5vw;
    }

    section.wide-sections {
        visibility: hidden;
    }
    
    .hamburger-menu {
        visibility: visible;
        position: absolute;
        right: 20px;
        background-color: transparent;
        border: none;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .intro {
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .hp-subsections {
        margin-top: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .img-container {
        width: 100%;
    }
    .right-text-container{
        margin-top: 20px;
        width: 70%;
        margin-right: 0%;
    }

    .left-text-container{
        margin-top: 20px;
        width: 70%;
        margin-left: 0%;
    }
    h1.title-text {
        font-size: 5.5vw;
    }
    .text-container-title {
        font-size: 7.0vw;;
    }

    div.form-element-div {
        font-size: 3.5vw;
    }
    h1.subsections-title {
        font-size: 1.5em;
    }

}