@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;300;200&display=swap');

:root {
    font-family: "Poppins", "Trebuchet MS", Helvetica, sans-serif;
    background-color: rgb(243, 243, 226);
    font-weight: 400;
}

h1.name {
    text-align: center;
    font-size: 1.7rem;
    text-anchor: middle;
}

a:visited {
    color: black;
}

.section-text {
    font-weight: 200;
    font-size: 1.1rem;
    position: absolute;
    text-decoration: none;
    color: black;
}

section.top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

section.wide-sections {
    visibility: visible;
}

.hamburger-menu {
    visibility: hidden;
    position: absolute;
    right: 20px;
}

@media screen and (max-width: 750px) {
    section.wide-sections {
        visibility: hidden;
    }
    
    .hamburger-menu {
        visibility: visible;
        position: absolute;
        right: 20px;
        background-color: transparent;
        border: none;
    }
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    /* -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; */
    background-color: #101010;
}