
h1.content-text {
    text-align: center;
    font-size: 1.4vw;
    text-anchor: middle;
    font-weight: 400;
    white-space: pre-line;
    line-height: 1.5em;
}



h1.subsections-subtitle {
    text-align: center;
    font-weight: 300;
    font-size: 1.1em;
}

a:visited {
    color: black;
}

a.highlight {
    color: rgb(158, 157, 157);
}

a.jpl {
    color: rgb(209, 64, 54);
}


a.stanford {
    color: #B83A4B;
}

.overlay a {
    color: #818181;
}

a.ft {
    /* background: linear-gradient(90deg, #FF0635, #91B9FF);*/
    background: linear-gradient(90deg, #FF0635, rgb(64, 126, 246));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.menu {
    color: rgb(229, 25, 25);
}

@media screen and (max-width: 750px) {
    .hamburger-menu {
        visibility: visible;
        position: absolute;
        right: 20px;
        background-color: transparent;
        border: none;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .hp-subsections {
        margin-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .img-container {
        width: 100%;
    }
    .right-text-container{
        margin-top: 20px;
        width: 70%;
        margin-right: 0%;
    }

    .left-text-container{
        margin-top: 20px;
        width: 70%;
        margin-left: 0%;
    }
    h1.content-text {
        font-size: 4vw;
    }
    .text-container-title {
        font-size: 7.0vw;;
    }

    div.form-element-div {
        font-size: 2.5vw;
    }

    a:not(.overlay a) a:visited {
        color: black !important; 
    }

}

/* #DDEAFF light blue
#91B9FF dark blue

#72DBD5 teal
#FF0635 orange */